<meta name="description" content="Status of the site">
<link rel="stylesheet" href="static/local/css/normalize.css">
<link rel="stylesheet" href="static/local/css/common.css">
<!-- <script src="static/local/js/vendor/modernizr-2.6.2.min.js"></script> -->

<!-- FancyProduct -->

<!-- Main CSS for the product designer -->
<link rel="stylesheet" type="text/css" href="static/local/css/vendor/FancyProductDesigner-all.min.css" />
<!-- Optional - only when you would like to use custom fonts -->
<link rel="stylesheet" type="text/css" href="static/local/css/vendor/jquery.fancyProductDesigner-fonts.css" />

<!-- HTML5 canvas library -->
<script src="static/local/js/vendor/fabric.min.js" type="text/javascript"></script>
<!-- The plugin itself -->
<script src="static/local/js/vendor/FancyProductDesigner-all.min.js" type="text/javascript"></script>

<!-- END FancyProduct -->



<style>
#statusAccordion {
  margin: 12px;
}
</style>

<div id="fpd">
  <div class="fpd-category" title="Cat1">
    <div class="fpd-product" title="TITLE1" data-thumbnail="static/local/img/sitemap/alarm.png">
    </div>
  </div>
  <div class="fpd-category" title="Cat2">
    <div class="fpd-product" title="TITLE2" data-thumbnail="static/local/img/sitemap/custlogo_massy.png">
    </div>
  </div>

  <!-- Here you can add more product divs -->
</div>

<div id="SiteMap">
    <h1 id="SiteMap Title">Site Map Stub 1...</h3>
</div>



<script>


</script>

